.email{

}

.tmbah{
	display: block;
	text-align: center;
}

#komentar{
	width: 50%;
	height: 150px;
}
ka{
	font-size: 100%;
	color: silver;
}

.nama{
	font-size: 200%;
}
.komen{
	margin-top: 1%;
}

table{
	width: 100%;
}

button{
	width: 10%;
	height: 25px;
	margin-left: 3%;
}

h1{
	margin-left: 4%;
}

